.paragraph_style {
    color: rgb(33, 33, 33);
    font-family: 'Gotham-ExtraLight', 'Gotham';
    font-size: 9px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style.vertical-align-middle-innerbox {
    padding: 4px;
}
.paragraph_style_1 {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(158, 100, 100);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_3 {
    color: rgb(189, 110, 112);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_68_48.vertical-align-middle-middlebox {
    height: 48px;
    position: relative;
    width: 68px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 0.50;
}
.paragraph_style_4 {
    color: rgb(189, 110, 112);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_137_48.vertical-align-middle-middlebox {
    height: 48px;
    position: relative;
    width: 137px;
}
.style_External_130_48.vertical-align-middle-middlebox {
    height: 48px;
    position: relative;
    width: 130px;
}
.style_External_130_37.vertical-align-middle-middlebox {
    height: 37px;
    position: relative;
    width: 130px;
}
.Body {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_130_37 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_500_20 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_130_48 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_137_48 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_68_48 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class1 {
    color: rgb(66, 66, 66);
}
a.class1:visited {
    color: rgb(66, 66, 66);
}
a.class1:hover {
    color: rgb(66, 66, 66);
}
a.class2 {
    color: rgb(66, 66, 66);
}
a.class2:visited {
    color: rgb(66, 66, 66);
}
a.class2:hover {
    color: rgb(66, 66, 66);
}
a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget8 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget2 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget5 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget2 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget3 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget9 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget6 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget6 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget5 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget9 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget9 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget3 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget2 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget0 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget9 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget6 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget3 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget5 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget10 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget7 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget8 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget8 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget10 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget10 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget4 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget1 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget4 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget1 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget3 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget1 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget4 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget7 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget8 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget7 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget10 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget7 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget5 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget0 .Timer_Labels {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget2 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget6 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
